{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="//cdn.bootcss.com/zTree.v3/3.5.24/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/department.css') }}" rel="stylesheet"> 
{% endblock %}

{% block content %}
<div class="container-fluid" style="height:45em;background-color:white">
    <div>
        <ul id="department_tree" class="ztree"></ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//cdn.bootcss.com/zTree.v3/3.5.24/js/jquery.ztree.all.min.js"></script>
<SCRIPT LANGUAGE="JavaScript">
    var zTreeObj;
    var setting = {
        edit:{
            enable: true,
	    showRemoveBtn: true,
	    showRenameBtn: true,
	    removeTitle: "删除",
	    renameTitle: "编辑"
        },
	data: {
	    simpleData: {
	    	enable: true,
	    }
	},
        view:{  
	    addHoverDom:addHoverDom,  
	    removeHoverDom:removeHoverDom,  
        }, 
    };
    var count = 1
    function addHoverDom(treeId, treeNode) {
        var aObj = $("#" + treeNode.tId + "_a");
        if ($("#addBtn_"+treeNode.id).length>0) return;
        var editStr = "<span class='button add' id='addBtn_" +treeNode.id+ "' > </span>";
        aObj.append(editStr);
        var btn = $("#addBtn_"+treeNode.id);
        if (btn) btn.bind("click", function(){
	    alert("diy Button for " + treeNode.name);
	    var zTree = $.fn.zTree.getZTreeObj("department_tree");
            var name = "新部门" + (count++);
            add_dep(treeNode,name,zTree);
	});
    };
    function removeHoverDom(treeId, treeNode) {
        $("#addBtn_"+treeNode.id).unbind().remove();
    };
    function add_dep(node, name, tree){
	var data_form = "current_id=" + node.id + "&name=" + name;
	$.ajax({
            type: "POST",
	    cache: "false",
	    url: "/staff/department/add/",
	    dataType: "json",
            data: data_form,
	    success: function(msg){
		if(msg.info=="success"){
                    id = msg.id;
	            tree.addNodes(node, {id:id, pId:node.id, name:name});
		}
		else{
		    alert("添加失败！");
		}
	    }
	})
    }
    $(document).ready(function(){
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/staff/department/get_tree_json/",
            success: function(departments){
                zTreeObj = $.fn.zTree.init($("#department_tree"), setting, departments);
            }
        })
    });
    </SCRIPT>
{% endblock %}
