{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="//cdn.bootcss.com/zTree.v3/3.5.24/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid" style="height:50em;background-color:white">
    <ul id="department_tree" class="ztree"></ul>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//cdn.bootcss.com/zTree.v3/3.5.24/js/jquery.ztree.core.min.js"></script>
<SCRIPT LANGUAGE="JavaScript">
    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {};
    // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
    var zNodes = [
        {name:"test1", open:true, children:[
        {name:"test1_1"}, {name:"test1_2"}]},
        {name:"test2", open:true, children:[
        {name:"test2_1"}, {name:"test2_2"}]}
        ];
    $(document).ready(function(){
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/staff/department/get_tree_json/",
            success: function(departments){
                zTreeObj = $.fn.zTree.init($("#department_tree"), setting, departments);
            }
        })
    });
    </SCRIPT>
{% endblock %}
