{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="//cdn.bootcss.com/zTree.v3/3.5.24/css/metroStyle/metroStyle.min.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/add_staff.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid" style="height:45em;background-color:white">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-md-offset-4">
		    <form id="add_staff_form">
		    <div class="form-group">
    			<label for="surname" class="control-label">姓名:</label>
    			<input type="text" name="name" id="surname"
                                      class="form-control" value="{{
                                      staff_info.name }}">
		    </div>
		    <div class="form-group">
    			<label for="password" class="control-label">员工编号:</label>
    			<input type="text" name="employee_id" id="password"
                                             class="form-control" value="{{
                                             staff_info.employee_id }}">
		    </div>
		    <div class="form-group">
    			<label for="phone" class="control-label">手机:</label>
    			<input type="text" name="mobile" id="phone"
                                        class="form-control" value="{{
                                        staff_info.mobile }}">
		    </div>
		    <div class="form-group">
    			<label for="email" class="control-label">邮箱:</label>
    			<input type="email" name="email" id="email"
                                        class="form-control" value="{{
                                        staff_info.email }}">
		    </div>
		    <div class="form-group">
    			<label for="sex" class="control-label">性别:</label>
    			<span class="c">
    			<input name="gender" type="radio" id="male" value="1" checked style="width:inherit" />
    			男&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    			<input name="gender" type="radio" id="female" value="0" style="width:inherit" /> 女</span>
		    </div>
		    <div class="form-group">
    			<label for="position" class="control-label">职位:</label>
    			<input type="text" name="position" id="position"
                                          class="form-control" value="{{
                                          staff_info.position }}">
		    </div>
		    <div class="form-group">
    			<label for="birthday" class="control-label">出生日期:</label>
    			<input type="text" name="birthday" id="birthday"
                                          class="form-control form_datetime"
                                          value=""{{ staff_info.birthday }}>
		    </div>
		    <div class="form-group">
    			<label for="notice" class="control-label">备注:</label>
    			<input type="text" name="remark" id="notice"
                                        class="form-control" value="{{
                                        staff_info.remark }}">
		    </div>
		    <div class="form-group">
	             <input class="btn btn-primary" id="submit_add_staff" value="保存">
		    </div>
		</form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/laydate/laydate.js') }}"></script>
    <script type="text/javascript">
        var birth = {
		elem: "#birthday",
		format: "YYYY-MM-DD",
		min: "1900-01-01",
		max: "2100-01-01",
		istime: true
	    };
        laydate(birth)
    </script>
    <script type='text/javascript'>
        $(document).ready( function() {
            $('#submit_add_staff').click( function() {
				var dataForm = $('#add_staff_form').serialize();
				$.ajax({
					type: "POST",
					cache : false,
					headers: { "cache-control": "no-cache" },
					dataType: "json",
					url: "/staff/add/",
					data: dataForm,
					success: function(data){
                        console.log(data)
						if(data.msg=="success"){
							$("#add_staff_form")[0].reset();
							alert("用户添加成功！");
						}else{
							alert("操作失败，请联系管理员！");
						}
					}
				});
            })
        })
    </script>
{% endblock %}
