{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="//cdn.bootcss.com/zTree.v3/3.5.24/css/metroStyle/metroStyle.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/jquery-bootgrid/1.3.1/jquery.bootgrid.min.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/department.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid main-panel">
    <div class="row">
        <div role="tabpanel" class="tab-pane active" id="byTest">
            <div class="rqm-table2 com-drop">
                <table id="grid-data" class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-visible="false" data-type="numeric" data-identifier="true" data-width="3%"></th>
                            <th data-column-id="user_name" data-type="numeric" data-width="18%">姓名</th>
                            <th data-column-id="surname"  data-width="15%">员工编号</th>
                            <th data-column-id="email" data-sortable="false" data-width="20%">邮箱</th>
                            <th data-column-id="sex" data-sortable="false"  data-width="8%">性别</th>
                            <th data-column-id="sender" data-sortable="false" data-formatter="link" data-width="13%">操作</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="//cdn.bootcss.com/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#grid-data").bootgrid({
            ajax: true,
            ajaxSettings: {
                method:"POST",
                cache: false
            },
            post: function() {},
            url: "/staff/data/",
            selection: true,
            multiSelect: true,
            rowSelect: true,
            navigation: 2,
            padding:1,
            formatters:{
                "link":function(column, row) {
                    return '<span class="glyphicon glyphicon-edit" staff_id="'+row.id+'" aria-hidden="true"></span>'+
                    '<span class="glyphicon glyphicon-trash" staff_id="'+row.id+'" aria-hidden="true"></span>';
                }
            }
        });

        //删除
        $("#grid-data").bootgrid().on("loaded.rs.jquery.bootgrid", function() {
            $("#grid-data").bootgrid().find(".glyphicon-trash").on("click", function(e) {
                var paperId = $(this).attr("staff_id");
                e.stopPropagation();
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    cache : false,
                    headers: { "cache-control": "no-cache" },
                    dataType: "json",
                    url: ""+paperId,
                    success: function(msg){
                        if(msg.msg=="True"){
                        }else{
                            alert("操作失败，请联系管理员！");
                        }
                    }
                });
            })
        });

        //编辑
        $("#grid-data").bootgrid().on("loaded.rs.jquery.bootgrid", function() {
            $("#grid-data").bootgrid().find(".glyphicon-trash").on("click", function(e) {
                var paperId = $(this).attr("staff_id");
                e.stopPropagation();
                e.preventDefault();
                window.open(""+paperId,"_target");
            })
        });

    })

    </script>
{% endblock %}
