{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="//cdn.bootcss.com/zTree.v3/3.5.24/css/metroStyle/metroStyle.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/jquery-bootgrid/1.3.1/jquery.bootgrid.min.css" rel="stylesheet">
<link href="../../static/css/jquery-steps.css" rel="stylesheet">
<style>
.main-panel{height:45em;background-color:#fff;}
.tab-pane{width: 80%;margin: 50px auto 30px;}
</style>
{% endblock %}

{% block content %}
<div id="equipmentBorrow">
    <h3>选择设备</h3>
    <section>
        <p></p>
    </section>
    <h3>选择人员</h3>
    <section>
        <p>选择人员</p>
    </section>
    <h3>借出设备</h3>
    <section>
        <p>借出设备</p>
    </section>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="http://cdn.bootcss.com/jquery-steps/1.1.0/jquery.steps.min.js"></script>
<script>
$(document).ready(function(){
    $("#equipmentBorrow").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true
    });
})

</script>
{% endblock %}
