{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="//cdn.bootcss.com/zTree.v3/3.5.24/css/metroStyle/metroStyle.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/jquery-bootgrid/1.3.1/jquery.bootgrid.min.css" rel="stylesheet">
<link href="../../static/css/jquery-steps.css" rel="stylesheet">
<link href="//cdn.bootcss.com/jquery-bootgrid/1.3.1/jquery.bootgrid.min.css" rel="stylesheet">
<style>
.main-panel{height:45em;background-color:#fff;}
.tab-pane{width: 80%;margin: 50px auto 30px;}
.form-control{width: 200px;display: inline-block;}

/*bootgrid*/
#grid-data tr{height: 40px;}
#grid-data tr > td{padding: 10px 5px 10px;}
#grid-data .glyphicon{margin-right:10px;cursor: pointer;}
#grid-data .glyphicon:hover{color: #0c6cc0;}
</style>
{% endblock %}

{% block content %}
<div id="equipmentBorrow">
    <h3>选择设备</h3>
    <section>
        <div>
            <span>请输入姓名搜索</span>
            <input type="text" name="search_name" class="form-control" placeholder="请输入姓名搜索" />
        </div>
        <table id="grid-data" class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th data-column-id="id" data-visible="false" data-type="numeric" data-identifier="true" data-width="3%"></th>
                    <th data-column-id="name" data-type="numeric" data-width="18%">姓名</th>
                    <th data-column-id="employee_id"  data-width="15%">员工编号</th>
                    <th data-column-id="email" data-sortable="false" data-width="20%">邮箱</th>
                    <th data-column-id="gender" data-sortable="false"  data-width="8%">性别</th>
                </tr>
            </thead>
        </table>
    </section>
    <h3>选择人员</h3>
    <section>
        <p>选择人员</p>
    </section>
    <h3>借出设备</h3>
    <section>
        <p>借出设备</p>
    </section>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="http://cdn.bootcss.com/jquery-steps/1.1.0/jquery.steps.min.js"></script>
<script src="//cdn.bootcss.com/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js"></script>
<script>
$(document).ready(function(){
    $("#equipmentBorrow").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true
    });

    $("#grid-data").bootgrid({
        ajax: true,
        ajaxSettings: {
            method:"POST",
            cache: false
        },
        post: function() {
            return {
                "search_name":$("input[name=search_name]").val()
            }
        },
        url: "/staff/data/",
        selection: true,
        multiSelect:true,
        rowSelect:true,
        navigation: 2,
        padding:1,
    });
    $("#grid").bootgrid().on("selectedrs.jquery.bootgrid", function (e,row){
        console.log(row);
    });

    $("input[name=search_name]").keyup(function() {
        $("#grid-data").bootgrid("reload");
    })

})

</script>
{% endblock %}
