{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="//cdn.bootcss.com/zTree.v3/3.5.24/css/metroStyle/metroStyle.min.css" rel="stylesheet">
<link href="http://cdn.bootcss.com/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet">
<style>
label{width: 100px;}
.form-control {display: inline-block;width: 300px;}
.main-panel{margin: 40px auto;width: 405px;}
.save-group{text-align: center;margin-top: 40px;}
.save-group .btn-primary{width: 200px;}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid" style="height:45em;background-color:white">
    <div class="main-panel">
        <form id="add_staff_form" enctype="multipart/form-data" action="" method="post">
            <input type="hidden" name="equipment_id" value="" />
            <div class="form-group">
                <label for="name" class="control-label">名称</label>
                <input type="text" name="name" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="surname" class="control-label">状态</label>
                <select name="status">
                    <option value="">正常</option>
                    <option value="">禁用</option>
                    <option value="">维修中</option>
                    <option value="">借出</option>
                    <option value="">报废</option>
                </select>
            </div>
            <div class="form-group">
                <label for="model" class="control-label">型号</label>
                <input type="text" name="model" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="number" class="control-label">编号</label>
                <input type="text" name="number" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="purchasing-date" class="control-label">购买日期</label>
                <input type="text" name="purchasing-date" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="price" class="control-label">价格</label>
                <input type="text" name="price" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="firm" class="control-label">厂商</label>
                <input type="text" name="firm" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="photo" class="control-label">照片</label>
                <input type="file" name="photo" class="form-control" />
            </div>
            <div class="form-group">
                <label for="introduction" class="control-label">简介</label>
                <textarea name="introduction" class="form-control"></textarea>
            </div>
            <div class="form-group save-group">
                 <button type="submit" class="btn btn-primary" id="submitBtn">保存</button>
            </div>
       </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="http://cdn.bootcss.com/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script>
    $(function() {
        $('input[name=purchasing-date]').datepicker({});
    });
    </script>
{% endblock %}
