{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="//cdn.bootcss.com/zTree.v3/3.5.24/css/metroStyle/metroStyle.min.css" rel="stylesheet">
<link href="http://cdn.bootcss.com/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet">
<style>
label{width: 100px;}
.form-control {display: inline-block!important;width: 300px;}
.main-panel{margin: 40px auto;width: 405px;}
.save-group{text-align: center;margin-top: 40px;}
.save-group .btn-primary{width: 200px;}
textarea{vertical-align: middle;height: 100px;overflow: scroll;}
input[type=file]{opacity: 0;filter: opacity(alpha=0);}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid" style="height:45em;background-color:white">
    <div class="main-panel">
        <form id="equipForm" enctype="multipart/form-data" action="" method="post">
            <input type="hidden" name="id" value="" />
            <div class="form-group">
                <label for="name" class="control-label">名称</label>
                <input type="text" name="name" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="surname" class="control-label">状态</label>
                <select name="status">
                    <option value="0">正常</option>
                    <option value="1">禁用</option>
                    <option value="2">维修中</option>
                    <option value="3">借出</option>
                    <option value="4">报废</option>
                </select>
            </div>
            <div class="form-group">
                <label for="model" class="control-label">型号</label>
                <input type="text" name="model" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="number" class="control-label">编号</label>
                <input type="text" name="number" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="buy-date" class="control-label">购买日期</label>
                <input type="text" name="buy-date" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="price" class="control-label">价格</label>
                <input type="text" name="price" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="vender" class="control-label">厂商</label>
                <input type="text" name="vender" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="picture" class="control-label">照片</label>
                <a class="form-control">
                    <input type="file" name="picture" class="form-control" />
                </a>

            </div>
            <div class="form-group">
                <label for="profile" class="control-label">简介</label>
                <textarea name="profile" class="form-control"></textarea>
            </div>
            <div class="form-group save-group">
                 <button type="submit" class="btn btn-primary" id="submitBtn">保存</button>
            </div>
       </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="http://cdn.bootcss.com/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script>
    $(function() {
        $('input[name=buy-date]').datepicker({
            format: "yyyy-dd-mm"
        });
    });
    </script>
{% endblock %}
