<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<title>工程管理系统－登陆</title>
<link rel="stylesheet" type="text/css" href="../static/css/login.css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default login">
                  <div class="panel-heading">                            
                    <div class="row-fluid user-row">
                        <i class="fa fa-eye fa-3x"></i> 
                    </div>
                    <h3 class="panel-title user-row"> Engineering Management System</h3> 
                 </div>
                  <div class="panel-body">
                    <div class="form-group">
                          <label>Sign in</label>
                          <hr>
                    </div>
                    <form accept-charset="UTF-8" role="form">
                    <fieldset>
                          <div class="form-group">
                            <input class="form-control" placeholder="E-mail" name="email" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                        </div>
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
